.image{
	max-width: 80%;
	
}
body{
	background-color: #b8b8b9}


header{
	background:#cd2b49
}
.hhh{
	color: #fff;
}

@media only screen and (max-width: 600px) {
	h1{
		color: ;
	}

}
